.menu {
    box-sizing: border-box;
    width: 98%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 45px 25px 45px;
    background-color: #fffffa;
    overflow: hidden;
    align-content: space-around;
    flex-wrap: nowrap;
    gap: 24;
    position: relative;
    border-radius: 15px;
}

li {
    text-decoration: none;
}
.menuList {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 24px;

}