html,
body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.2;
}

.container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  gap: 40;
}

p {
  font-family:'Poppins', '--Poppins' 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title {
    font-family: 'poppins';
    height: auto; /* 211px */
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    line-height: 1.2;
    text-align: left;
    justify-content: left;
    align-self: flex-start;
  }

p .blogContent {
  line-height: normal;
  font-weight: 400;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 85%;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

/*Button styles*/
.blueButton {
  font-family: 'poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: #f2f2f2;
  width: 162px;
  height: 50px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border-width: 0px;
  background-color: #497C9F;
  /*making the fun realistic shadows*/
  box-shadow: 
      0px 
      0.7409732186279143px 
      0.7409732186279143px 
      -0.7000000000000001px 
      rgba(73, 124, 159, 0.69), 
      0px 
      2.0178668455264415px 
      2.0178668455264415px 
      -1.4000000000000001px 
      rgba(73, 124, 159, 0.66771), 
      0px 
      4.430505261661892px 
      4.430505261661892px 
      -2.1px 
      rgba(73, 124, 159, 0.62911), 
      0px 
      9.834710084098335px 
      9.834710084098335px 
      -2.8000000000000003px 
      rgba(73, 124, 159, 0.54264), 
      0px 
      25px 
      25px 
      -3.5px 
      rgba(73, 124, 159, 0.3);
      position: relative;
      transition-duration: .7s;
}

.blueButton:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0.5971439051427296px 0.5374295146284566px -1px rgba(19, 49, 92, 0.78), 0px 1.8108796073283884px 1.6297916465955493px -2px rgba(19, 49, 92, 0.72756), 0px 4.786990141113346px 4.308291127002011px -3px rgba(19, 49, 92, 0.60852), 0px 15px 13.499999999999998px -4px rgba(19, 49, 92, 0.2);
  background-color: #c4c4c4;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  position: relative;
  border-radius: 20px;
  border-width: 0px;
}

.darkButton {
  font-family: 'poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: #f2f2f2;
  width: 162px;
  height: 50px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border-width: 0px;
  background-color: #0F3042;
  position: relative;
  transition-duration: .7s;
  box-shadow: 0px 0.7409732186279143px 0.7409732186279143px -0.7000000000000001px rgba(19, 49, 92, 0.69), 0px 2.0178668455264415px 2.0178668455264415px -1.4000000000000001px rgba(19, 49, 92, 0.66771), 0px 4.430505261661892px 4.430505261661892px -2.1px rgba(19, 49, 92, 0.62911), 0px 9.834710084098335px 9.834710084098335px -2.8000000000000003px rgba(19, 49, 92, 0.54264), 0px 25px 25px -3.5px rgba(19, 49, 92, 0.3);
}

.darkButton:hover {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 0.5971439051427296px 0.5374295146284566px -1px rgba(19, 49, 92, 0.78), 0px 1.8108796073283884px 1.6297916465955493px -2px rgba(19, 49, 92, 0.72756), 0px 4.786990141113346px 4.308291127002011px -3px rgba(19, 49, 92, 0.60852), 0px 15px 13.499999999999998px -4px rgba(19, 49, 92, 0.2);
background-color: #8da9c4;
overflow: visible;
align-content: center;
position: relative;
border-radius: 20px;
border-width: 0px;
}

@media (max-width: 480px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .bodyContent {
    padding: 0;
  }
}