html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  flex-shrink: 0;
  width: 690px;
  height: auto; /* 208px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: visible;
  position: relative;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

.title {
    flex-shrink: 0;
    width: 690px;
    height: auto; /* 211px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    line-height: 1.2;
    text-align: left;
  }

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button1 {
  border-radius: 15px;
  box-shadow: 10, 10, 5, 10;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
