html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  flex-shrink: 0;
  width: 100%;
  height: auto; /* 208px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 1200px;
  overflow: visible;
  position: relative;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

.title {
    flex-shrink: 0;
    width: 690px;
    height: auto; /* 211px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    line-height: 1.2;
    text-align: left;
  }

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fafafa;
  box-sizing: border-box;
  width: 175px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #13315c;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 10px;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
